<div class="alert alert-block alert-success">
    
# FIT5149 Assignment 1
#### Student Name: Muhammad Bilal Elahi
#### Student ID: 34200223
#### Group Number: 054
    
    
Date: 3/09/2024


Environment: Python 3.12.5

    
</div>

<div class="alert alert-block alert-danger">
    
## Table of Contents

</div>    

[1. Introduction](#Intro) <br>
$\;\;\;\;$[1.1. Background](#background) <br>
$\;\;\;\;$[1.2. Objectives](#objectives) <br>
[2. Importing Libraries](#libs) <br>
$\;\;\;\;$[2.1. Mounting Google Drive](#mount_drive) <br>
[3. Examining Patent Files](#examine) <br>
$\;\;\;\;$[3.1. Input File Observations](#inp_obs) <br>
[4. Loading and Parsing Files](#load) <br>
$\;\;\;\;$[4.1. Defining Regular Expressions](#Reg_Exp) <br>
$\;\;\;\;$[4.2. Reading File](#Read) <br>
$\;\;\;\;$[4.3. Creating Assignment Dictionary](#dict) <br>
$\;\;\;\;\;\;\;\;$[4.3.1. Global Variables](#var) <br>
$\;\;\;\;\;\;\;\;$[4.3.2. Functions](#func) <br>
$\;\;\;\;\;\;\;\;$[4.3.3. Loop for parsing](#loop) <br>
$\;\;\;\;$[4.4. Converting into JSON](#json_conv) <br>
[5. Writing to JSON File](#json_write) <br>
$\;\;\;\;$[5.1. Verification of JSON file](#json_veri) <br>
[6. Summary](#summary) <br>
[7. References](#Ref) <br>

<div class="alert alert-block alert-warning">

## 1.  Introduction  <a class="anchor" name="Intro"></a>
    
</div>

<div class="alert alert-block alert-info">
    
### 1.1. Background <a class="anchor" name="background"></a>

<div class="alert alert-block alert-info">
    
### 1.2. Objectives <a class="anchor" name="objectives"></a>

<div class="alert alert-block alert-warning">
    
## 2.  Importing Libraries  <a class="anchor" name="libs"></a>
 </div>

<div class="alert alert-block alert-warning">

## 3.  Examining Raw Data <a class="anchor" name="examine"></a>

 </div>

<div class="alert alert-block alert-info">
    
### 3.1. Input File Observations <a class="anchor" name="inp_obs"></a>

<div class="alert alert-block alert-warning"> 

## 4.  Data Exploration <a class="anchor" name="load"></a>

</div>

<div class="alert alert-block alert-info">
    
### 4.1. Reading File <a class="anchor" name="Read"></a>

In this step we will reading the input file naming `A1_stock_volatility_labeled.csv` from our local repository.

In [2]:
import pandas as pd

# Load the dataset
file_path = 'A1_stock_volatility_labeled.csv'
data = pd.read_csv(file_path)

<div class="alert alert-block alert-info">
    
### 4.2. Exploratory analysis <a class="anchor" name="Read"></a>

In [3]:
# Display the first few rows of the dataset to understand its structure
data.head()

,Date,Open,Close,High,Low,Volume,Amount,Avg_Price,Return,Volatility,...,Gross Profit,EPS,Total Assets,Total Liabilities,Total Equity,Cash and Cash Equivalents,Operating Cash Flow,Investing Cash Flow,Financing Cash Flow,Stock
0,2022-01-01,164.634,144.954,165.074,136.849,40101533,5.732915e+09,148.347000,-12.188473,1.795721,...,9.100000e+08,0.94,1.033000e+10,5.173000e+09,5.154000e+09,1.113000e+09,255000000.0,-79000000.0,-546000000.0,A
1,2022-02-01,146.164,135.994,150.734,128.694,42313071,5.677741e+09,141.947684,-6.181271,2.117435,...,9.100000e+08,0.94,1.033000e+10,5.173000e+09,5.154000e+09,1.113000e+09,255000000.0,-79000000.0,-546000000.0,A
2,2022-03-01,136.464,137.964,145.834,132.534,46251907,6.205439e+09,139.889217,1.448593,2.072637,...,9.100000e+08,0.94,1.033000e+10,5.173000e+09,5.154000e+09,1.113000e+09,255000000.0,-79000000.0,-546000000.0,A
3,2022-04-01,139.814,125.114,142.924,123.084,43916920,5.566595e+09,132.867500,-9.314024,2.113012,...,1.771000e+09,1.86,1.046000e+10,5.333000e+09,5.122000e+09,1.186000e+09,538000000.0,-155000000.0,-669000000.0,A
4,2022-05-01,124.224,133.404,136.614,118.484,45551962,5.564296e+09,127.519238,6.625957,2.746538,...,1.771000e+09,1.86,1.046000e+10,5.333000e+09,5.122000e+09,1.186000e+09,538000000.0,-155000000.0,-669000000.0,A

1. Dataset Overview:

- The dataset contains 22 columns and 13,486 rows.

- Date and Stock are categorical variables.
 
- Other columns are primarily numerical and represent various financial metrics and trading data

In [4]:
# Display the summary of the dataset
data.describe(include='all')

,Date,Open,Close,High,Low,Volume,Amount,Avg_Price,Return,Volatility,...,Gross Profit,EPS,Total Assets,Total Liabilities,Total Equity,Cash and Cash Equivalents,Operating Cash Flow,Investing Cash Flow,Financing Cash Flow,Stock
count,13486,13486.000000,13486.000000,13486.000000,13486.000000,1.348600e+04,1.348600e+04,13486.000000,13486.000000,13486.000000,...,1.348600e+04,13486.000000,1.348600e+04,1.348600e+04,1.348600e+04,1.348600e+04,1.348600e+04,1.348600e+04,1.348600e+04,13486
unique,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,613
top,2022-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A
freq,613,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22
mean,NaN,1741.328666,1735.367690,1829.655853,1637.911281,4.112382e+07,3.228092e+09,1733.197353,-0.700045,2.396125,...,2.857836e+09,1.949710,1.821612e+10,1.091715e+10,7.298849e+09,1.510022e+09,1.178012e+09,-7.025812e+08,-4.600039e+08,NaN
std,NaN,15564.852252,15628.651843,16210.989075,14950.536329,1.211088e+08,1.660591e+10,15573.457915,13.110310,2.033964,...,1.130077e+10,5.161378,5.717197e+10,3.217662e+10,2.944286e+10,7.989450e+09,5.928045e+09,3.328101e+09,3.485262e+09,NaN
min,NaN,0.011000,0.010000,0.011000,0.008000,4.210000e+02,1.746700e+04,0.010455,-84.347826,0.000000,...,-2.746000e+09,-84.600000,1.410000e+07,2.479000e+06,-8.940000e+09,4.300000e+04,-4.109000e+09,-7.097000e+10,-6.976000e+10,NaN
25%,NaN,22.710000,22.330000,24.750000,20.180000,3.879474e+06,1.125653e+08,22.486262,-6.911791,1.345456,...,1.013000e+08,-0.050000,7.990500e+08,3.497000e+08,2.705000e+08,5.024000e+07,5.240000e+05,-2.515500e+08,-2.350000e+08,NaN
50%,NaN,87.560000,86.645000,93.975000,81.372500,1.145391e+07,4.743543e+08,87.345952,-1.090276,1.980023,...,4.060000e+08,0.990000,2.858000e+09,1.556000e+09,9.840000e+08,1.861000e+08,8.319000e+07,-4.824000e+07,-2.264000e+07,NaN
75%,NaN,356.460000,352.652750,377.180000,325.060000,3.204557e+07,2.097197e+09,351.217239,4.979387,3.001239,...,1.422000e+09,2.860000,9.482000e+09,6.084000e+09,3.111000e+09,5.940000e+08,4.441500e+08,-6.422000e+06,7.465000e+06,NaN
max,NaN,402207.744000,403313.664000,408310.579000,394660.864000,2.908660e+09,6.206421e+11,402330.624000,480.000000,149.476478,...,2.252000e+11,52.470000,5.772000e+11,3.906000e+11,4.035000e+11,1.837000e+11,1.459000e+11,2.138000e+10,2.425000e+10,NaN

2. First Few Rows of the Dataset:

- The dataset includes trading data such as Open, Close, High, Low prices, and Volume, as well as financial data such as Revenue, Net Income, Gross Profit, EPS, etc.

- The target variable for prediction is Volatility, which is a measure of price variability.

In [5]:
# Check for missing values
data.isnull().sum()

Date                         0
Open                         0
Close                        0
High                         0
Low                          0
Volume                       0
Amount                       0
Avg_Price                    0
Return                       0
Volatility                   0
Revenue                      0
Net Income                   0
Gross Profit                 0
EPS                          0
Total Assets                 0
Total Liabilities            0
Total Equity                 0
Cash and Cash Equivalents    0
Operating Cash Flow          0
Investing Cash Flow          0
Financing Cash Flow          0
Stock                        0
dtype: int64

3. Summary Statistics:

- The summary statistics provide an overview of the numerical data distribution.

- No missing values were detected in the dataset.

In [7]:
# Get the data types of each column
data.dtypes

Date                          object
Open                         float64
Close                        float64
High                         float64
Low                          float64
Volume                         int64
Amount                       float64
Avg_Price                    float64
Return                       float64
Volatility                   float64
Revenue                      float64
Net Income                   float64
Gross Profit                 float64
EPS                          float64
Total Assets                 float64
Total Liabilities            float64
Total Equity                 float64
Cash and Cash Equivalents    float64
Operating Cash Flow          float64
Investing Cash Flow          float64
Financing Cash Flow          float64
Stock                         object
dtype: object

4. Data Types:

- Most columns are float64, representing continuous numerical data.

- Date and Stock are object (categorical) types.